.logged-in-message {
    text-align: right;
}
.chat-messages {
    list-style-type: none;
    height: calc(100vh - 250px);
    overflow-y: scroll;
    margin-bottom: 100px;
    border: 2px solid #333;
    padding: .2em;
}
.chat-messages li {
    padding: .2em 1em;
}
.chat-messages .message-from-me {
    text-align: right;
    padding: 0;
}
.chat-messages .user {
    padding: .2em;
    border: 1px solid #333;
    border-radius: 10px;
}
.chat-messages .message {
    display: block;
    padding: .2em;
}
.bottom-appbar {
    top: auto !important;
    bottom: 0;
}
.new-message-form {
    display: flex;
}
.text-input {
    background: rgba(255, 255, 255, .7);
    width: calc(100% - 60px)
}